/************************************************/
/*            hoja de estilo receta.html        */
/*            autor: Ángel Domínguez Ruiz       */
/*           versión: 1.0                       */
/*            fecha: octubre de 2023            */
/*    comentario: trabajo de lenguaje de marca  */
/************************************************/

@font-face {
                     font-family:   texto;
                     src: url();
                     }

                     @font-face {
                        font-family:  titulos;
                        src: url();
                     }

*{box-sizing: border-box;}

#wrapper {width: 80%;
          margin: auto;
          padding:5%;
          background-color: rgba(121, 80, 46, 0.422);}

blockquote{font-style: italic; 
           border-left: 4px solid brown;
           background-color:rgb(255, 255, 255);
           padding:20px;}

dt {font-weight: bold;
     font-variant: small-caps;
     color: rgb(123, 11, 34);
    }
body  {background-image: url("https://i.pinimg.com/736x/97/63/84/976384ac1026c2e7e20a417a9316d95a.jpg");
          background-size: cover;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: #fff ;}

   